background_dark = #181818
base_color = #dde0e4
inactive_color = darken(base_color, 40%)
base_font_family = Arial, Helvetica, sans-serif
base_font_size = 10px
panel_background = #353535
panel_border = #505253
element_border = #191919
element_bg_active = #505253
element_bg_inactive = #2b2b2b
element_height = 24px
checked_color = #181818
list_background = #dde0e4
list_color = #505253
modal_background = #2b2b2b
