input[type="text"]
  border 1px solid element_border
  background element_bg_active
  height element_height
  line-height element_height
  color base_color
  padding-left 7px
  font-size 10px
  margin 5px 0px

  &[disabled]
    background element_bg_inactive
    color inactive_color

  &:focus
    box-shadow: 0px 0px 2px 1px lighten(element_border, 30%)
    outline: none;
